@import "tailwindcss";

@theme inline {
  --color-dark: #1e1e1e;
  --color-theme-white: #E4EAFF;
  --color-primary: #5500FF;
  --font-poppins: var(--font-poppins);
}
body {
  @apply bg-dark text-theme-white text-base leading-normal;
}
a,
button {
  @apply ease-in-out duration-300;
}
.input_design {
  @apply border border-white rounded-full w-full text-base font-medium py-4.5 px-2 text-center leading-none focus:outline-none;
}
.button_design {
  @apply rounded-full inline-flex items-center justify-center py-3.75 px-5 text-center text-base font-semibold bg-primary text-white cursor-pointer min-w-44 hover:bg-white hover:text-dark;
}
.white_btn{
  @apply bg-white text-dark hover:bg-primary hover:text-white
}
.sidebar {
  /* animate width/spacing when toggling */
  @apply transition-all duration-300 ease-in-out;
}
.sidebar a {
  @apply flex items-center gap-2.5 text-2xl font-medium py-3.5 px-3.5 leading-none transition-all duration-300 ease-in-out;
}
.sidebar-open {
  @apply w-125;
}
.sidebar-close {
  @apply w-18;
}
.sidebar span {
  @apply whitespace-nowrap transition-opacity duration-300 ease-in-out;
}
.sidebar-close span {
  @apply opacity-0;
}
.sidebar-open a {
  @apply px-8.5;
}
.sidebar a:hover {
  background-color: rgba(99, 99, 99, 0.31);
}